.grid-container{
    background-color: rgb(62, 11, 76);
    padding: 20px;
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: auto auto auto;
    /* justify-content: center; 
    /* grid-row-gap: 30px; 
    grid-column-gap: 20px;
    grid-gap: 30px; */
    height: 500px;
}

.grid-item{
    background-color: rgb(122, 14, 90);
    border: 1px solid black;
    padding: 20px;
    font-size: 40px;
    text-align: center;
}

#grid-1{
  grid-row-start: 1;
  grid-row-end: 4; 
  grid-column-start: 1;
  grid-column-end: 3;
  /* grid-row:1/3 ;
  grid-column: 1/3;
  grid-area: 1/1/4/3;*/
  /* grid-row:1/span 3;
  grid-column:2/span 4;  */
  
}